.cart-drawer {
    position: absolute;
    top: 0;
    right: 0;

    width: 80ch;
    /* width: 60%; */
    height: 70vh;
    background: #f1f1f1;
    border: thin solid black;
    border-radius: 10px;
    transition: right 0.35s;
}
.cart-drawer.minimized {
    right: -75ch;
}

.cart-drawer-header {
    height: 4rem;
    line-height: 3rem;
    padding: 0.5rem 0;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: green;
    color: white;
}

#cart-drawer-toggle {
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    padding: 0.25rem;
    line-height: 1rem;
}

.cart-drawer-headline {
    display: inline-block;
}

.cart-drawer-items {
    overflow-y: scroll;
    max-height: calc(100% - 10.5rem);
}

.cart-item:first-of-type {
    border-top: thin solid black;
    padding-top: 0.25rem;
}
.cart-item {
    border-bottom: thin solid black;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
}

/* Probably use grid or something instead of absolute positioning? */
.cart-drawer-checkout-container {
    position: absolute;
    width: 100%;
    padding: 0;
    bottom: 0;
    right: 0;
    background: green
}

.cart-drawer-total {
    padding: 0.5rem;
    background: white;
}

.cart-drawer-checkout {
    padding: 1.25rem;
}

.checkout-link {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 0.75rem;
}

.checkout-link:hover {
    background: rgb(231, 231, 231);
    color: green;
}